@use 'mixins' as *;
@use 'variables' as *;

.BottomNavigation {
  position: fixed;
  bottom: 0;
  left: 50%;
  max-width: 600px;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background: var(--fills-white-10, rgba(238, 238, 238, 0.1));
  backdrop-filter: blur(25px);
  padding: 16px 20px 20px;

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    transition: color 0.2s ease;

    &_active {
      .BottomNavigation {
        &-icon {
          opacity: 1;
        }

        &-label {
          opacity: 1;
        }
      }
    }
  }

  &-icon {
    width: 24px;
    height: 24px;
    transition: opacity 0.2s ease;
    opacity: 0.4;
  }

  &-label {
    color: var(--Labels-Primary---Dark, #fff);
    text-align: center;
    font-feature-settings: 'case' on;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.408px;
    opacity: 0.4;
  }
}
