@use 'mixins' as *;

.ForgotPassword {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 28px;
  flex: 1;

  &-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &-submit {
    margin-top: auto;
  }
}