@use 'mixins' as *;

.UserStories {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 32px;

  &-title {
    margin-bottom: 28px;
    text-align: center;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}